a {
    text-decoration: none;
}

.navbar-brand img { /*logo*/
    height: 7rem;
    width: auto;
}

.navbar-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav-right {
    margin-left: auto;
}


ul.navbar-nav {
    margin: auto; /*centraliza horizontalmente*/
    gap: 1rem;
    align-items: center;
}

form.d-flex {
    justify-content: center; /*centraliza a searchbar*/
}

#searchbar {
    width: 120%;
}

.content {
    display: grid;
    place-items: center;
}

#register-box {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
}

#register-box form {
    display: flex;
    flex-direction: column;
    gap: 3vh; 
}

#register-box h1 {
    color: rgb(46, 44, 44); /* Apenas para teste */
    padding-bottom: 5vh;
    text-align:center;
}

#register-box button {
    width: 10vw;
    margin: 0 auto;
    background-color:rgb(255, 80, 22);
    border: none;
}


#price {
    color:rgb(255, 80, 22);
}

.row div {
    padding-bottom: 2rem;
}

.session-title {
    margin-bottom: 3rem;
}

.book-card {
    border: none;
    padding: 0;
    background: none;
}

#bookcard {
    text-decoration: none;
}

#book-card .card {
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    text-decoration: none;
}

.card div{
    padding-bottom: 0px;
}

#book-card {
    text-decoration: none;
}

.col-md-6 {
    height: 70vh;
    margin-bottom: 0;
}

#book-img-cont{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.book-img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#book-info {
    padding-left: 1.5rem;
}

#page-price {
    font-size: 2rem;
}

#buy{
    background-color:rgb(255, 80, 22);
    border-color:rgb(255, 80, 22);
}

#message {
    height: 12vh;
    padding-top: 1vh;
    line-height: 1.2;
    resize: none;
}

#cart-card {
    display: flex;
}
