a {
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #333, #777);
    display: flex;
    flex-direction: column;
}

/* The main content area takes up the available space */
body > .container {
    flex: 1;

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 138px;
}


.navbar-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav-right {
    margin-left: auto;
}


ul.navbar-nav {
    margin: auto; /*centraliza horizontalmente*/
    gap: 1rem;
    align-items: center;
}

form.d-flex {
    justify-content: center; /*centraliza a searchbar*/
}

#searchbar {
    width: 120%;
}

.content {
    display: grid;
    place-items: center;
    padding-top : 50px;
}

#register-box {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 80px 20px 80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    background-color:#525151;
}

#register-box form {
    display: flex;
    flex-direction: column;
    gap: 3vh; 
}

#register-box h1 {
    padding-bottom: 5vh;
    text-align: center;
}

#register-box button {
    height: auto;
    margin: 0 auto;
    background-color:rgb(0, 255, 179);
    border: none;
    margin-bottom: 32px;
    font-size: 150%;
    font-weight: 500;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: rgb(24, 24, 24);
    padding: 10px 90px 10px 90px;
    
}

#price {
    color:rgb(255, 80, 22);
}


.session-title {
    margin-bottom: 3rem;
}

.book-card {
    border: none;
    padding: 0;
    background: none;
}

#bookcard {
    text-decoration: none;
}

#book-card .card {
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    text-decoration: none;
}

.book-list {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    background-color:#525151;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
}

#book-row {
    margin-bottom: 50px;
}

.card div{
    padding-bottom: 0px;
}

#book-card {
    text-decoration: none;
}

#col1 {
    height: 70vh;
    margin-bottom: 0;
}

.page-link {
    margin-bottom: 50px;
    background-color:rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid white;
}

#book-img-cont{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.book-img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#book-info {
    padding-left: 1.5rem;
}

#page-price {
    font-size: 2rem;
}

#buy{
    background-color:rgb(255, 80, 22);
    border-color:rgb(255, 80, 22);
}

#message {
    height: 12vh;
    padding-top: 1vh;
    line-height: 1.2;
    resize: none;
}

#cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 580px;
}

#cart-image {
    padding: 0;
    margin: 0;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#cart-content {
    display:flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

#cart-div {
    max-width: 50vw;
    margin-bottom: 3rem;
    justify-items: center;
    margin-top: 50px;
    background-color: #7e7e7e;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    padding: 25px;
    border-radius: 10px;
}

#freight {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 0;
    padding-top : 1rem;
    margin: 0;
    gap: 1vh;
    height: 18vh;
}

#freight-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#calculate-freight {
    width: 8vw;
    text-align: left;
    padding-left: 0.3;
}

#quantity {
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    line-height: 1.5; /* Altura da linha */
    color: #212529; /* Cor do texto */
    background-color: #fff; /* Cor de fundo */
    background-clip: padding-box; /* Garante que o fundo não ultrapasse a borda */
    border: 1px solid #ced4da; /* Borda cinza */
    border-radius: 0.375rem; /* Bordas arredondadas */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.1rem;
}

#cart-price {
    font-size: 200%;
    text-align: right;
    width: 125px;
    padding:0;
    margin: 0;
    padding-top: 1rem;
}

#quantity-input {
    display: flex;
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    line-height: 1.5; /* Altura da linha */
    color: #212529; /* Cor do texto */
    background-color: #fff; /* Cor de fundo */
    background-clip: padding-box; /* Garante que o fundo não ultrapasse a borda */
    border: 1px solid #ced4da; /* Borda cinza */
    border-radius: 0.375rem; /* Bordas arredondadas */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.1rem;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 38px;
    width: 38px;
}

.input-group-prepend,
.input-group-append {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 38px;
    width: 120px;
    margin-top: 1rem;
    padding: 0;
    gap: 3px;
}
 
button.quantity {
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
}
 
div.input-group {
    padding: 0;
    width: 125px;
}

div.input-group-prepend,
div.input-group-append {
    padding: 0;
}

div#cart-content.col-md-8 {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

div.content {
    align-items: center;
    justify-content: center;
}

div#freight-input.d-flex {
    padding-top: 1rem;
}

div.card-body {
    width: auto;
}

div#total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

button#buy-cart {
    font-size: 150%;
    font-weight: 300;
    background-color: rgb(0, 255, 179);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 80px 20px 80px 20px;
}

a#buy-button {
    color: #212529;
    font-weight: 500;
    font-size: 150%;
    text-decoration: none;
    margin: 100px;
}

div#payment-item.row.shadow.p-3.bg-body-tertiary.rounded {

    width: 380px;
    height: 80px;
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-items: center;
}
div#payment-item.row
 {
    padding: 0;
}

div#payment-div.container {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    margin-top: 2rem;
}

div#payment-item.row {
    margin: 0;
    padding: 0 !important;
}

div#payment-image {
    height: auto;
    width: 80px;
    padding: 0;
    display: flex;
    flex-shrink:0;
}



div#payment-content {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

h4#payment-method {
    margin: 0;
    padding: 0;
    font-weight: 200;
}

img#payment-symbol.img-fluid {
    margin: 0;
    padding: 1rem;
}

a.payment-link {
    text-decoration: none;
    color: black;
}

a.payment-link:hover {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 0.5rem;
} 

div#total-payment {
    margin-top: 2rem;
    text-align: center;
}



.titlee {
    color: white;
    position: relative;
    padding: 0 2rem;
    z-index: 10;
    text-align: center;
    font-size: 500%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container text-center {
    margin-top: 20px;
}

div#homepage.container.mt-5 {
    height: 668px;
    width:668px;
    margin-top:1000px;

}

#book-img img {
    display: block;
    margin: 0;
    padding: 0;
    max-height: 100%;
}

div#content-home {
    justify-content: center;
}

#content-home .col-md-6 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    max-width: 500px;
}

.text h4 {
    font-weight: 200;
    color: white;
    position: absolute;
    z-index: 10;
    margin-left: 5rem;
    margin-top: 25rem;
    width: 50vw;
}

.subtitlee {
    font-weight: 350%;
    font-size: 300%;
    color: white;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin:0;
}

#sub1 {
    margin-left: 5rem;
    margin-top: 35rem;
}


#sub2 {
    margin-top: 50px;
}

p#p {
    color: white;
    font-size: 150%;
    font-weight: 200;
    margin:0;
    padding: 0;
}

.col-md-6 {
    text-align: left;
    align-items: center;

}

#book-img.col-md-6 {
    justify-content: right;
    margin-right: 0;
}

#col1, #book-img {
    height: 300px;
}

#welcome {
   margin: 0;
   padding-top: 50px;
   text-align: left;
   padding-left:0;
   text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

#centralized {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#centralized p {
    text-align: left;
    padding-top: 50px;
}

div#home-cards {
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 100px;
}

#carousel {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 2);
}

#carousel img {
    border-radius: 10px;
}

.carousel-caption h5 {
    font-size: 400%;
    font-weight: 600;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 1);
}

.carousel-caption p {
    font-size: 200%;
    font-weight: 300;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 1);
}

footer {
    margin: 0;
    padding-top: 100px;
    width: 100vw;
    align-items: flex-end;
    max-height: 138px;
    padding-bottom: 0;
}

div#page {
    min-height: 100vh;
    border: 2px solid red;
}

footer .container .row {
    padding: 0;
    height: 138px;
    width: 100vw;
}

div.container {
    padding: 0;
    margin: 0;
}

footer .container, .container .row, .row .col-md-6 {
    margin: 0;
    padding: 0;
}

#row1 {
    margin-bottom: 50px;
    background-color: #525151;
    padding: 20px 80px 20px 80px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

#search-result {
    max-width: 20%;
}

.card-img-top {
    height: 70%;
}
}