{% extends "layout.html" %}
{% block main %}

<script>
  //se chegar a zero, configurar pra tirar do carrinho
  //fazer o botao funcionar
  document.getElementById('button-minus').addEventListener('click', function() {
  var quantityInput = document.getElementById('quantity-input');
  var currentValue = parseInt(quantityInput.value);
  if (currentValue >= 1) {
    quantityInput.value = currentValue - 1;
  }
});

document.getElementById('button-plus').addEventListener('click', function() {
  var quantityInput = document.getElementById('quantity-input');
  var currentValue = parseInt(quantityInput.value);
  quantityInput.value = currentValue + 1;
});
</script>

<div class = "content">
  <h1 class = "titlee">Your Cart:</h1>
    <div id = "cart-div" class="container">
        <div id = "cart-item" class="row shadow p-3 mb-5 bg-body-tertiary rounded">
            <div id = "cart-image" class = col-md-4>
              <img src="{{ url_for('static', filename='images/harry-potter-6.png') }}" class = "img-fluid" alt="Harry Potter">
            </div>
            <div id = "cart-content" class = col-md-8>
              <h4>Harry Potter and the half-blood prince</h4>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary quantity" type="button" id="button-minus">-</button>
                </div>
                <input type="text" value="1" class = "form-control, width = 38px" id="quantity-input">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary quantity" type="button" id="button-plus">+</button>
                </div>
              </div>

                <p id = "cart-price"><strong>R$49,90</strong></p>
            </div>
        </div>

        <div id = "cart-item" class="row shadow p-3 mb-5 bg-body-tertiary rounded">
          <div id = "cart-image" class = col-md-4>
            <img src="{{ url_for('static', filename='images/harry-potter-6.png') }}" class = "img-fluid" alt="Harry Potter">
          </div>
          <div id = "cart-content" class = col-md-8>
            <h4>Harry Potter and the half-blood prince</h4>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary quantity" type="button" id="button-minus">-</button>
              </div>
              <input type="text" value="1" class = "form-control, width = 38px" id="quantity-input">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary quantity" type="button" id="button-plus">+</button>
              </div>
            </div>

              <p id = "cart-price"><strong>R$49,90</strong></p>
          </div>
      </div>

      <div id = "cart-item" class="row shadow p-3 mb-5 bg-body-tertiary rounded">
        <div id = "cart-image" class = col-md-4>
          <img src="{{ url_for('static', filename='images/harry-potter-6.png') }}" class = "img-fluid" alt="Harry Potter">
        </div>
        <div id = "cart-content" class = col-md-8>
          <h4>Harry Potter and the half-blood prince</h4>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary quantity" type="button" id="button-minus">-</button>
            </div>
            <input type="text" value="1" class = "form-control, width = 38px" id="quantity-input">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary quantity" type="button" id="button-plus">+</button>
            </div>
          </div>

            <p id = "cart-price"><strong>R$49,90</strong></p>
        </div>
    </div>

        <div class="card-body shadow p-3 mb-5 bg-body-tertiary rounded">
          <label for="calculate-freight">Calculate freight:</label>
              <div id = "freight-input" class = "d-flex">
                <input type="text" id="calculate-freight" class = "form-control" name="calculate-freight" placeholder="00000-000">
                <button class="btn btn-outline-secondary">Calculate</button>
              </div>
        </div>

        <div class = "container" id = "total">
          <h2 class = "subtitlee">Total: R$149,70</h2>
        </div>



        <button id = "buy-cart" class = "btn btn-success shadow p-2 mb-5 rounded">
          <a id = "buy-button" href="/payment">Buy Cart</a>
        </button>
    </div>
</div>

{% endblock %}